<script>
  function auto_grow(element) {
    element.style.height = element.scrollHeight + "px";
  }
</script>

<div class="mx-auto max-w-7xl px-6 py-6 mt-12 lg:px-8 flex-col">
  <form method="post" action="/articles" enctype="multipart/form-data">
    <div class="space-y-12">
      <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-lg font-semibold leading-7 text-gray-900">Write an Article</h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">Share your thoughts to the world with medium</p>

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="col-span-full">
            <label for="title" class="block text-sm font-medium leading-6 text-gray-900">Title</label>
            <div class="mt-2">
              <input
                id="title"
                name="title"
                required
                class="block px-3 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6 overflow-hidden resize-none"
              />
            </div>
          </div>
          <div class="col-span-full">
            <label for="category" class="block text-sm font-medium leading-6 text-gray-900">Category</label>
            <div class="mt-2">
              <!-- <label for="country" class="sr-only">Country</label> -->
              <select
                id="category"
                name="category"
                class="h-full rounded-md border-0 bg-transparent bg-none py-2 px-6 text-gray-700 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-yellow-400 sm:text-sm"
              >
                <% for( let index = 0; index < categories.length; index++ ) { %>
                <option value="<%= categories[index]._id.toString() %>"><%= categories[index].name %></option>
                <% } %>
              </select>
            </div>
          </div>

          <div class="col-span-full">
            <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900">Cover photo</label>
            <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
              <div class="text-center">
                <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <div class="mt-4 flex text-sm leading-6 text-gray-600">
                  <label class="block">
                    <span class="sr-only">Choose profile photo</span>
                    <input
                      type="file"
                      name="image"
                      id="image"
                      required
                      class="block w-full text-sm text-yellow-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-yellow-50 file:text-yellow-700 hover:file:bg-yellow-100"
                    />
                  </label>
                </div>
                <p class="text-xs leading-5 text-gray-600 mt-4">PNG or JPG</p>
              </div>
            </div>
          </div>

          <div class="col-span-full">
            <label for="about" class="block text-sm font-medium leading-6 text-gray-900">Article</label>
            <div class="mt-2">
              <textarea
                id="article"
                name="article"
                required
                oninput="auto_grow(this)"
                class="block px-3 w-full h-screen rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6 overflow-hidden resize-none"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6 mb-20">
      <!-- <button
        type="submit"
        class="rounded-md bg-gray-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-yellow-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-400"
      >
        Save Draft
      </button> -->
      <div>
        <a href="/" class="text-sm font-semibold leading-6 text-gray-900">Cancel</a>
        <button
          type="submit"
          class="rounded-md ml-6 bg-yellow-400 px-6 py-1 text-lg font-semibold text-white shadow-sm hover:bg-yellow-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-400"
        >
          Publish
        </button>
      </div>
    </div>
  </form>
</div>
