@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    padding: 0 0.8rem;
}

.navbar {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.navbar > h1 {
    display: inline;
    font-size: 1.8rem;
    margin: 1rem 0;
    margin-right: auto;
}

.navbar > img {
    width: 40px;
    height: 40px;
}

.navbar > h1 > span {
    color: #CE552C;
}

.container {
    display: grid;
    place-content: center;
    max-width: 400px;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 66%;
    height: 100vh;
    background-color: #CE552C;
    z-index: 999;
}

nav > img {
    width: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
}

nav > ul {
    margin-top: 5rem;
    list-style: none;
}

nav li {
    margin-bottom: 0.6rem;
}

nav a{
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}

.d-none{
    display: none;
}

section {
    padding: 0 .8rem;
    display: grid;
    place-content: center;
}

.hero h3 {
    font-weight: 400;
    font-size: 1.2rem;
    border-left: 5px solid #FFD951;
    padding-left: 1rem;
    margin: 2.4rem 0;
    color: #615C59;
}

.tagline{
    font-size: 2.1rem;
}

.tagline > span {
    color: #CE552C;
}

.tagline-sm{
    font-size: 1.4rem;
}

.tagline-sm > span {
    color: #CE552C;
}

.contact, .contact1 {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.contact a, .contact1 a {
    display: flex;
    text-decoration: none;
    font-size: 1.2rem;
    width: 160px;
    background-color: black;
    padding: 1rem;
    border-radius: 0.6rem;
    color: white;
}

.contact img, .contact1 img {
    margin-right: 1rem;
}

.pic-section {
    margin-top: 2rem;
    display: grid;
    place-content: center;
}

.pic-inner {
    position: relative;
    margin-bottom: 8rem;
}

.pic-section .main-pic {
    width: 100%;
}

.pic-section .big-bg{
    width: 95%;
    position: absolute;
    left: 10%;
    top: 30%;
    z-index: -1;
}

.pic-section .small-bg{
    width: 4rem;
    position: absolute;
    left: 30%;
    bottom: -25%;
}

#dot{
    position: relative;
    display: inline;
    left: -0.8rem;
    top: 9rem;
    z-index: -1;
}

.highlights img {
    width: 2.8rem;
}

.highlights h2 {
    margin: .4rem 0;
    font-size: 1.8rem;
}

.highlights p {
    margin: 0;
    font-size: 1.3rem;
    color: #615C59;
}

.highlights div {
    margin-bottom: 3rem;
}

.pic-section2{
    position: relative;
    margin-bottom: 3rem;
    width: 100%;
}

.shoes2-main {
    width: 100%;
}

.shoes2-bg {
    width: 95%;
    position: absolute;
    top: 12%;
    left: 0;
    z-index: -1;
}

.viewmore {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.viewmore a {
    display: flex;
    text-decoration: none;
    font-size: 1.3rem;
    width: 160px;
    background-color: black;
    padding: .8rem;
    align-items: center;
    border-radius: 0.6rem;
    color: white;
}

.viewmore img {
    margin-right: 1rem;
    width: 2rem;
}

.info{
    background-color: #F7F7F7;
    margin: 0 -0.8rem;
    color: #615C59;
}

.info .container {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info .container div {
    width: 60%;
    padding-bottom: 2rem;
    text-align: center;
}

.info .container h3 {
    font-weight: normal;
    font-size: 1.3rem;
}

.help{
    margin: 3rem 0;
}

.help h2{
    font-size: 1.2rem;
    color: #615C59;
    margin: auto;
}

.social{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social img{
    width: 2rem;
}

#life{
    position: relative;
}

#life::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
    border-radius: 2rem;
    background-color: #CE552C;
}

@media (min-width: 786px) {
    body{
        padding: 0 2rem;
    }
    #dot{
        left: -2rem;
    }
    .container{
        max-width: 900px;
    }
    .hero .container{
        display: flex;
    }
    .tagline{
        font-size: 3rem;
    }
    .hero-headline h3{
        font-size: 1.6rem;
    }
    .hero{
        margin: 0 0 10rem 0;
    }
    .contact1{
        justify-content: left;
    }
    .highlights{
        margin-bottom: 6rem;
    }
    .highlights .container{
        display: flex;
        gap: 2rem;
    }
    .second-picture .container{
        display: flex;
    }
    .viewmore{
        justify-content: left;
    }
    .second-picture-tag{
        padding-left: 4rem;
    }
    .info{
        margin: 3rem -0.8rem;
        background-color: white;
    }
    .info .container {
        padding: 3rem 5rem;
        gap: 2rem;
        flex-direction: row;
        border-radius: 1.4rem;
        background-color: #F7F7F7;
    }
    .info .container div{
        padding: 0;
    }
    .help h2{
        font-size: 1.4rem;
    }
    .help h1{
        font-size: 2.2rem;
    }
    .help .container{
        text-align: center;
        padding: 2rem 5rem;
    }
    .d-none{
        display: block;
    }
    nav{
        position: relative;
        height: 100%;
        background-color: transparent;
        margin-left: auto;
    }
    nav a{
        color: #615C59;
        font-size: 1.2rem;
    }
    nav img{
        display: none;
    }
    nav ul{
        display: flex;
        justify-content: right;
        padding: 0;
        margin: 0;
        gap: 2rem;
    }
    nav ul li{
        margin: 0;
    }
    .navbar img{
        display: none;
    }
    .navbar{
        margin: 0;
    }
    .main-nav{
        display: flex;
        align-items: center;
    }
}

@media (min-width: 1024px){
    .container{
        max-width: 1100px;
    }
    .info{
        margin: 6rem 0;
    }
    .pic-section{
        width: 60%;
    }
}