<h2 class="pt-4">Add Sugar Level</h2>
<form method="post">
  <div class="mb-3">
    <label for="reading" class="form-label">Reading</label>
    <input type="text" name="reading" class="form-control" id="reading" required value="130" />
    <div id="reading" class="form-text">Sugar Level Reading</div>
  </div>
  <div class="mb-3">
    <label for="mood" class="form-label">Mood</label>
    <input type="text" name="mood" class="form-control" id="mood" required value="Good" />
    <div id="reading" class="form-text">Mood of the person</div>
  </div>
  <div class="mb-3">
    <label for="type" class="form-label">Type</label>
    <input type="text" name="type" class="form-control" id="type" required value="1" />
    <div id="reading" class="form-text">Type of sugar</div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
